core = 7.x

api = 2
projects[drupal][version] = "7.54"

; Modules
projects[logging_alerts][version] = "2.2"

projects[autologout][version] = "4.4"

projects[ctools][version] = "1.12"

projects[ckeditor][version] = "1.17"

projects[collapsiblock][version] = "1.1"

projects[composer_manager][version] = "1.8"

projects[countries][version] = "2.3"

projects[draggableviews][version] = "2.1"

projects[entity][version] = "1.8"

projects[google_analytics][version] = "2.3"

projects[http_client][version] = "2.4"

projects[i18n][version] = "1.15"

projects[imce][version] = "1.10"

projects[jquery_update][version] = "2.7"

projects[libraries][version] = "2.3"

projects[markdown][version] = "1.5"

projects[memcache][version] = "1.5"

projects[nodequeue][version] = "2.1"

projects[smtp][version] = "1.6"

projects[variable][version] = "2.5"

projects[views][version] = "3.15"

{% if ENV_DEV==true %}
projects[obiba_agate][download][type] = "git"
projects[obiba_agate][download][branch] = "{{ agate_version }}"
projects[obiba_agate][download][url] = "https://github.com/obiba/agate-drupal7.git"
projects[obiba_agate][directory_name] = "obiba_agate"
projects[obiba_agate][type] = "module"
{% else %}
projects[obiba_agate] = "{{ agate_version }}"
{% endif %}


{% if ENV_DEV==true %}
projects[obiba_mica][download][type] = "git"
projects[obiba_mica][download][branch] = "{{ mica_version }}"
projects[obiba_mica][download][url] = "https://github.com/smirfolio/mica-drupal7.git"
projects[obiba_mica][directory_name] = "obiba_mica"
projects[obiba_mica][type] = "module"
{% else %}
projects[obiba_mica] = "{{ mica_version }}"
{% endif %}

; Themes

{% if ENV_DEV %}
projects[obiba_bootstrap][download][type] = "git"
projects[obiba_bootstrap][download][branch] = "{{ theme_bootstrap_version }}"
projects[obiba_bootstrap][download][url] = "https://github.com/obiba/bootstrap-drupal7.git"
projects[obiba_bootstrap][directory_name] = "obiba_bootstrap"
projects[obiba_bootstrap][type] = "theme"
{% else %}
projects[obiba_bootstrap] = "{{ theme_bootstrap_version }}"
{% endif %}

projects[bootstrap][version] = "3.11"
projects[bootstrap][type] = "theme"

; Libraries
libraries[datatables][download][type] = "file"
libraries[datatables][download][url] = "https://github.com/obiba/mica-drupal-js-libraries/archive/{{ js_lib_version }}.zip"
libraries[datatables][download][subtree] = "mica-drupal-js-libraries-{{ js_lib_version }}/datatables"
libraries[datatables][type] = "library"
libraries[datatables][directory_name] = "datatables"

libraries[angular-app][download][type] = "file"
libraries[angular-app][download][url] = "https://github.com/obiba/mica-drupal-js-libraries/archive/{{ js_lib_version }}.zip"
libraries[angular-app][download][subtree] = "mica-drupal-js-libraries-{{ js_lib_version }}/angular-app"
libraries[angular-app][type] = "library"
libraries[angular-app][directory_name] = "angular-app"


libraries[obiba-progressbar][download][type] = "file"
libraries[obiba-progressbar][download][url] = "https://github.com/obiba/mica-drupal-js-libraries/archive/{{ js_lib_version }}.zip"
libraries[obiba-progressbar][download][subtree] = "mica-drupal-js-libraries-{{ js_lib_version }}/obiba-progressbar"
libraries[obiba-progressbar][type] = "library"
libraries[obiba-progressbar][directory_name] = "obiba-progressbar"

libraries[mica-study-timeline][download][type] = "file"
libraries[mica-study-timeline][download][url] = "https://github.com/obiba/mica-drupal-js-libraries/archive/{{ js_lib_version }}.zip"
libraries[mica-study-timeline][download][subtree] = "mica-drupal-js-libraries-{{ js_lib_version }}/mica-study-timeline"
libraries[mica-study-timeline][type] = "library"
libraries[mica-study-timeline][directory_name] = "mica-study-timeline"

libraries[obiba-country-codes][download][type] = "file"
libraries[obiba-country-codes][download][url] = "https://github.com/obiba/mica-drupal-js-libraries/archive/{{ js_lib_version }}.zip"
libraries[obiba-country-codes][download][subtree] = "mica-drupal-js-libraries-{{ js_lib_version }}/obiba-country-codes"
libraries[obiba-country-codes][type] = "library"
libraries[obiba-country-codes][directory_name] = "obiba-country-codes"